{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container text-center">
<h4 class="title animated fadeInDown"style="animation-delay: 0s;"><三重大学センター><br>〒514-8507 三重県津市栗真町屋町１５７７<br>営業時間：午前9時から午後6時まで</h4>
<br>
<h4 class="title animated fadeInDown"style="animation-delay: 0.5s;"><津駅センター><br>〒514-0004 三重県津市栄町３丁目２６３ 徳田屋ビル<br>営業時間：午前9時から午後6時まで</h4>
<br>
<h4 class="title animated fadeInDown"style="animation-delay: 1s;"><津新町駅センター><br>〒514-8799 三重県津市中央１−１<br>営業時間：午前9時から午後6時まで</h4>
<br>
</div>
<div class="container">
<iframe src="https://www.google.com/maps/d/embed?mid=1pinGnVAKSpMlqK_VvtnQr4arbjqwetHR" width="100%" height="480"></iframe>
</div>
<br><br><br>
{% endblock content %}
